<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Reto Buena People</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>En el menú encontrara las opciones para crear usuarios y listar usuarios donde podrá 
          buscar un usuario por nombre y apellido, ver los hobbies por usuario, agregar hobbies y 
          eliminar un usuario.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
